<div class="vid-heading w-100">
<video autoplay mutedloop id="myVideo">
    <source src="../../assets/images/videoplayback.mp4" type="video/mp4" class="img-fluid"> 
  </video>
</div>
<section class="bg">
<div class="FF text-center">
<p>We are a worldwide company that provide high quality supplements <br> those are our atheletes that we sponsor</p>
</div>
<div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/images/Athletes/Sponsor1.jpg" class="images" />
      </div>
  
      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3 class="text-center images">Mahmoud Al Durrah</h3> 
          <hr class="hr">
          <br>
  
          <p class=" text text-center images">Egypt-born Mahmood Al Durrah has been making waves in the fitness industry since he won the Canadian Nationals as a middle weight in 2012 <br> 
            he has won several titles and competed in the world's most prestigious bodybuilding competition <br></p>
        </div>
  
      </div>
  
    </div>
    <br>
    <br>
  </div>

  <!--right-->
  <div>
    <div class="row">
  
      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images">Josh Vogel</h4>
          <br>
        
          <br>
  
          <p class=" text text-center images">Josh Vogel is a beast body builder <br> He Achieveid more than more 9x body building competitions
           <br>And he will achieieve more and more </p>
        </div>
  
      </div>
  
      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/images/Athletes/Sponsor2.jpg" class="images" />
      </div>
    </div>
    <br>
    <br>
  </div>
  
  <div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/images/Athletes/Sponsor3.jpg" class="images" />
      </div>
  
      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images"></h4>
          <br>
          <h3 class="text-center images">Michael Abudul</h3> 
          <hr class="hr">
          <br>
  
          <p class=" text text-center images">RedCon1 Athlete<br> He achieved more than 10 body building competitions <br>
           and he is looking forward acheiveing more and more with us<br></p>
        </div>
  
      </div>
  
    </div>
    <br>
    <br>
  </div>
  
  <div>
    <div class="row">
  
      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3 class="text-center images">Udo Molzer</h3> 
          <br>
        
          <br>
  
          <p class=" text text-center images">Udo Molzer is a beast body builder <br> He Achieveid more than more 9x body building competitions
           <br>And he will achieieve more and more </p>
        </div>
  
      </div>
  
      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/images/Athletes/Sponsor4.jpg" class="images" />
      </div>
    </div>
    <br>
    <br>
  </div>
  
  <div>
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <img src="../../assets/images/Athletes/Sponsor5.png" class="images" />
      </div>
  
      <div class="col-lg-6 col-sm-12">
        <div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h4 class="text-center images"></h4>
          <br>
          <h3 class="text-center images">Zayan </h3> 
          <hr class="hr">
          <br>
  
          <p class=" text text-center images">RedCon1 Athlete<br> He achieved more than 10 body building competitions <br>
           and he is looking forward acheiveing more and more with us<br></p>
        </div>
  
      </div>
  
    </div>
    <br>
    <br>
  </div>
</section>