<section class="">
    <div class="heading text-center">
        <img src="../../assets/images/totalmre.jpg" alt="" class="w-100">
      </div>
    <br>
    <br>
    <div class="row  mt-3" >
    <div class="col-lg-4 col-md-6 col-12" *ngFor="let creatine of Creatineproduct">

        <div class="card" style="width: 20rem;">
            <img [src]="creatine.img" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">{{creatine.heading}}</h5>
              <p class="card-price">{{creatine.price}}</p>
              <a (click)=addtocart(creatine) class="btn btn-dark">Add to cart</a>
              
            </div>
          </div>

    </div>
</div>
<br>
<br>
<section>
