<!--IMG AFTER NAVBAR-->
<div id="img">

    <img src="../../assets/images/ts.jpg" alt="" class="w-100">
</div>


<div class="text-center mt-4">
    <h1>EGYPT #1 SUPPLEMENT BRAND</h1>

<br>
<br>
<br>
    
</div>
<!--SHOWCASE-->
<section class="showcase mb-5 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                
                        <img src="../../assets/images/10.jpg" class="d-block w-100" alt="...">
                              
            </div>
            <div class="col-lg-6 col-sm-12 sub-head">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam voluptates rerum possimus ducimus, provident similique! Obcaecati, ut, quaerat accusamus quia non, dolores esse numquam quas laboriosam id natus magni facilis.
                </p>
     
            </div>
        </div>
    </div>
</section>


<!--REVIEWS-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>
<section class="quote p-3">
  <div class="containter text-center">
      <h2>Some of our regular customers reviews</h2>
      <div class="row my-5">
          <div class="col-md-4 col-sm-12">

              <div class="circular--landscape">
                  <img src="../../assets/images/p1.jpg" />
                </div>

              <p class="mb-0 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente odio quo tenetur quam accusamus. Sunt asperiores est repudiandae necessitatibus aliquid, commodi rem ea laboriosam esse. Velit provident officia iusto voluptatum.
                  
              </p>
              <br>
              <div class="dr">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
            </div>
              <footer class="blockquote-footer mt-2"></footer>
                  John Doe
                  
          </div>
          <div class="col-md-4 col-sm-12">
              
              <div class="circular--landscape">
                  <img src="../../assets/images/p2.jpg" />
                </div>
              <p class="mb-0 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quisquam quibusdam quia distinctio ut nam consequuntur tenetur deserunt repellendus, repellat ratione perspiciatis provident consequatur quis possimus laboriosam beatae nulla expedita.

              </p>
              <br>
              <div class="dr">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
                 </div>
              <footer class="blockquote-footer mt-3"></footer>
              
                  Mark Twain
          </div>
          <div class="col-md-4 col-sm-12">
              <div class="circular--landscape">
                  <img src="../../assets/images/p3.jpg" />
                </div>
              <p class="mb-0 mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt hic corporis non reiciendis itaque possimus minima, autem quisquam natus doloremque nostrum tenetur omnis ab aperiam, consectetur, est aliquid eaque nemo.

              </p>
              <br>
              <div class="dr">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              </div>
              <footer class="blockquote-footer mt-3"></footer> <!--Ashan yezhrly 3lmt el dash gamb el esm-->
                  Blue Steele
          </div>
      </div>
  
  
  </div>
  
  </section>