/* REVIEWS CSS */
.circular--landscape {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
  }

  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
  }


  /* TITLE AND SHOWCASE CSS */
  .sub-head{
    margin-top:100px;
    font-weight:bold;
    font-size:1.4rem;
}


.dr{
    color: #FFCD3C
}